---
layout: default
title: Work and Education
permalink: /cv/
---

<div class="cv-container">
  <h1>Work and Education (Page in Construction)</h1>
  <div class="outer-frame">
    <div class="horizontal-layout">
      <div class="text-left">
	<h2>Scientific Engineer and Computer Science Developement</h2>
	{% include cv_section_title.html when="Dec. 2023 -- Ongoing" where="WaltR, Nantes, France" %}
	<p>
          More info.
	</p>
	{% include cv_section.html title="Project 1" content="TODO" margin_bottom="0em" %}
      </div>
      <div class="vertical-frame">
	<div class="vertical-text">
          WaltR
	</div>
      </div>
    </div>
  </div>

  <div class="outer-frame">
    <div class="horizontal-layout">
      <div class="text-left">
	<h2>P.h.D. Finding Diverse Solutions in Constraint Programming with Probabilistic Approaches</h2>
	{% include cv_section_title.html when="Sep. 2020 -- Sep. 2023" where="LS2N, Nantes, France" %}
	<p>
          More info.
	</p>
	{% include cv_section.html title="Section 1" content="TODO" margin_bottom="0em" %}
      </div>
      <div class="vertical-frame">
	<div class="vertical-text">
          P.h.D
	</div>
      </div>
    </div>
  </div>

  <div class="outer-frame">
    <div class="horizontal-layout">
      <div class="text-left">
	<div class="cv-section-title">
	  <div class="icon" style="margin-left: 0em">
	    <img src="/assets/icons/calendar.svg" alt="Calendar">
	  </div>
	  Sep. 2016 -- Jul. 2020
	  <div class="icon">
	    <img src="/assets/icons/location.svg" alt="Location">
	  </div>
	  ENS de Lyon, Lyon, France
	</div>
	<p>
          More info.
	</p>

	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">
	    {% capture cryptography_internship %}
	    {% include internship_details.html when="Mar. 2020 -- Jul. 2020" where="IRISA, Rennes, France" who="Supervised by Stéphanie Delaune and Patrick Derbez" %}
	    TODO more details (link the article).
	    {% endcapture %}
	    {% include cv_section.html title="Internship: Differential Boomerang Attack using CP" content=cryptography_internship %}
	    <!-- -->
	    {% capture ordering_internship %}
	    {% include internship_details.html when="Jan. 2020 -- Feb. 2020" where="LS2N, Nantes, France" who="Supervised by Colin de la Higuera" %}
	    TODO more details.
	    {% endcapture %}
	    {% include cv_section.html title="Internship: Ordering Educational Ressources" content=ordering_internship %}
	    <!-- -->
	    {% capture satalia_internship %}
	    {% include internship_details.html when="Oct. 2019 -- Dec. 2019" where="Satalia, London, United Kingdom" who="Supervised by Sebastian Schenker and Matthieu David" %}
	    TODO more details.
	    {% endcapture %}
	    {% include cv_section.html title="Internship: Evaluating Quality of an Approximated Algorithm" content=satalia_internship margin_bottom="0em" %}
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Internship Year
	    </div>
	  </div>
	</div>
	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% capture master2_internship %}
	    {% include internship_details.html when="Jan. 2019 -- Jun. 2019" where="Satalia, London, United Kingdom" who="Supervised by Charlotte Truchet" %}
	    TODO more details.
	    {% endcapture %}
	    {% include cv_section.html title="Internship: Binary Decision Diagrams in Constraint Programming" content=master2_internship %}
	    <h3> Favourite Courses </h3>
	    <ul>
	      <li> Online Optimisation, Bruno Gaujal</li>
	      <li> Scheduling at Scale, Yves Robert </li>
	      <li> Software Engineering and Compilation, Sebastien Mosser and
		Laure Gonnord </li>
	    </ul>
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Master 2
	    </div>
	  </div>
	</div>
	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% include cv_section.html title="Internship" content="TODO" %}
	    <h3> Favourite Courses </h3>
	    <ul>
	      <li> Member of the <a href="https://graal.ens-lyon.fr/cartomensia/">Cartomensia project</a>. </li>
	      <li> Optimization and approximation, Nicolas Bousquet, Laure Gonnord </li>
	    </ul>
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Master 1
	    </div>
	  </div>
	</div>
	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% include cv_section.html title="Internship" content="TODO" %}
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Bachelor
	    </div>
	  </div>
	</div>
      </div>
      <div class="vertical-frame">
	<div class="vertical-text">
	  ENS de Lyon
	</div>
      </div>
    </div>
  </div>

</div>
