---
layout: default
title: Work and Education
permalink: /cv/
---

<div class="cv-container">
  <h1>Work and Education (Page in Construction)</h1>
  <div class="outer-frame">
    <div class="horizontal-layout">
      <div class="text-left">
	<div class="cv-section-title">
	  <div class="icon" style="margin-left: 0em">
	    <img src="/assets/icons/calendar.svg" alt="Calendar">
	  </div>
	  Dec. 2023 -- Ongoing
	  <div class="icon">
	    <img src="/assets/icons/location.svg" alt="Location">
	  </div>
	  WaltR, Nantes, France
	</div>
	<h2>Scientific Engineer and Computer Science Developement</h2>
	<p>
          More info.
	</p>
	{% include cv_section.html title="Project 1" content="TODO" margin_bottom="0em" %}
      </div>
      <div class="vertical-frame">
	<div class="vertical-text">
          WaltR
	</div>
      </div>
    </div>
  </div>

  <div class="outer-frame">
    <div class="horizontal-layout">
      <div class="text-left">
	<div class="cv-section-title">
	  <div class="icon" style="margin-left: 0em">
	    <img src="/assets/icons/calendar.svg" alt="Calendar">
	  </div>
	  Sep. 2020 -- Sep. 2023
	  <div class="icon">
	    <img src="/assets/icons/location.svg" alt="Location">
	  </div>
	  LS2N, Nantes, France
	</div>
	<h2>Finding Diverse Solutions in Constraint Programming with Probabilistic Approaches</h2>
	<p>
          More info.
	</p>
	{% include cv_section.html title="Section 1" content="TODO" margin_bottom="0em" %}
      </div>
      <div class="vertical-frame">
	<div class="vertical-text">
          P.h.D
	</div>
      </div>
    </div>
  </div>

  <div class="outer-frame">
    <div class="horizontal-layout">
      <div class="text-left">
	<div class="cv-section-title">
	  <div class="icon" style="margin-left: 0em">
	    <img src="/assets/icons/calendar.svg" alt="Calendar">
	  </div>
	  Sep. 2016 -- Jul. 2020
	  <div class="icon">
	    <img src="/assets/icons/location.svg" alt="Location">
	  </div>
	  ENS de Lyon, Lyon, France
	</div>
	<p>
          More info.
	</p>

	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% include cv_section.html title="Cryptography Internship" content="TODO" %}
	    {% include cv_section.html title="Algorithmic Internship" content="TODO" %}
	    {% include cv_section.html title="Optimisation Internship" content="TODO" margin_bottom="0em" %}
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Internship Year
	    </div>
	  </div>
	</div>
	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% include cv_section.html title="Internship" content="TODO" %}
	    <h3> Favourite Courses </h3>
	    <ul>
	      <li> Online Optimisation, Bruno Gaujal</li>
	      <li> Scheduling at Scale, Yves Robert </li>
	      <li> Software Engineering and Compilation, Sebastien Mosser and
		Laure Gonnord </li>
	    </ul>
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Master 2
	    </div>
	  </div>
	</div>
	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% include cv_section.html title="Internship" content="TODO" %}
	    <h3> Favourite Courses </h3>
	    <ul>
	      <li> Member of the <a href="https://graal.ens-lyon.fr/cartomensia/">Cartomensia project</a>. </li>
	      <li> Optimization and approximation, Nicolas Bousquet, Laure Gonnord </li>
	    </ul>
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Master 1
	    </div>
	  </div>
	</div>
	<div class="horizontal-layout" style="margin-bottom: 0em;">
	  <div class="text-left">

	    {% include cv_section.html title="Internship" content="TODO" %}
	  </div>
	  <div class="vertical-frame">
	    <div class="vertical-text">
	      Bachelor
	    </div>
	  </div>
	</div>
      </div>
      <div class="vertical-frame">
	<div class="vertical-text">
	  ENS de Lyon
	</div>
      </div>
    </div>
  </div>

</div>
