<section class="cv-section" style="margin-bottom: {{ include.margin_bottom | default: '1em' }};">
    <button class="cv-toggle">
        {{ include.title }}
        <svg class="cv-toggle-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
    </button>
    <div class="cv-details">
        {{ include.content }}
    </div>
</section>
