<footer>
  <div class="socials">
    <ul>
      <li><a href="https://www.youtube.com/@tiouz8985" target="_blank" aria-label="Youtube"><img src="/assets/icons/youtube.svg" alt="Youtube"></a></li>
      <li><a href="https://www.speedrun.com/users/Tiouz" target="_blank" aria-label="Speedrun.com"><img src="/assets/icons/speedrun.svg" alt="Speedrun.com"></a></li>
      <li><a href="https://tiouz.itch.io/" target="_blank" aria-label="itch.io"><img src="/assets/icons/itchio.svg" alt="itch.io"></a></li>
      <li><a href="https://steamcommunity.com/profiles/76561198312439885" target="_blank" aria-label="steam"><img src="/assets/icons/steam.svg" alt="steam"></a></li>
    </ul>
  </div>
  <p>© 2024 {{ site.fullname }}. All rights reserved.</p>
</footer>
